<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<p>
  <strong>Checkout:</strong>
  <%= @book.checkout %>
</p>

<p>
  <strong>Checkin:</strong>
  <%= @book.checkin %>
</p>

<div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="checkbox" checked> <%= link_to 'Edit', edit_book_path(@book) %>
  </label>|
  <label class="btn btn-secondary active">
    <input type="checkbox" checked> <%= link_to 'Back', books_path %>
  </label>
</div>
<br>
